.tokens-grid {
  width: 100%;
  font-family: sans-serif;
  color: #FFF;
  border-collapse: collapse;
  border: 0 !important;
}

.tokens-grid tr {
  background: transparent !important;
  border: 0 !important;
  border-radius: 8px;
}

.tokens-grid thead th {
  padding: 1rem !important;
  text-align: left;
  border: 0 !important;
}

.tokens-grid tbody td {
  padding: 1rem !important;
  color: #ccc;
  border: 0 !important;
}

.tokens-grid tbody td:first-child {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.tokens-grid tbody td:last-child {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.tokens-grid tbody tr:nth-child(even) td {
  background: #444;
}

.tokens-grid .rem-bar {
  background: #ccc;
  height: 15px;
}

.tokens-grid .preview-font {
  font-family: 'Roboto', sans-serif;
  border-sizing: 'border-box';
}

.tokens-grid .leading {
  border: 1px dashed transparent;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  display: inline-block;
}

.tokens-grid .family, .tokens-grid .weight {
  font-size: 2rem;
  line-height: 4rem;
}

.tokens-grid .box {
  background-color: #ccc;
  width: 5rem;
  height: 5rem;
}